<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>You're a student ?</p>
        <p v-if="xacdinh">Yes, I am a student</p>
        <p v-else>No, I'm not</p>
        <button @click="xacdinh = !xacdinh">Edit</button>
        
        <p v-show="xacdinh">Test show element!</p>
    </div>
</body>
<script src="./js/Conditional.js"></script>
</html>