<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS-01</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<body>
<!-- Render theo hướng khai báo -->
    <div id="app">
        {{ message }}
    </div>

<!-- Ràng buộc các thuộc tính
    v-bind về cơ bản là đang giữ thuộc tính title của các phần tử web luôn đồng nhất với property message của đối tượng Vue được khởi tạo -->
    <div id="app-2">
        <span v-bind:title="message">
            Rê chuột lên đây một vài giây để xem thuộc tính `title` được bind!
        </span>
    </div>

<!-- Điều kiện vòng lặp -->
<!-- Chúng ta có thể bind dữ liệu vào không chỉ văn bản và thuộc tính, mà còn cả vào cấu trúc của DOM -->
    <div id="app-3">
        <span v-if="seen">Thoắt ẩn thoắt hiện</span>
    </div>

<!-- Directive v-for có thể được dùng để trình bày một danh sách các item sử dụng dữ liệu từ một mảng -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

<!-- Xử lí thông tin đầu vào của người dùng -->
<!-- Để người dùng tương tác với ứng dụng, 
    chúng ta có thể dùng directive v-on để đính kèm các event listener (phần tử lắng nghe sự kiện) 
    và gọi các method (phương thức) trên đối tượng Vue -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

<!-- Directive v-model giúp cho việc ràng buộc hai chiều (two-way binding) giữa form input 
    và trạng thái ứng dụng trở nên vô cùng dễ dàng -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

<!-- Biên soạn các component -->
<!-- Xây dựng những ứng dụng quy mô lớn được tạo thành từ những phần tử nhỏ, độc lập, và thường là tái sử dụng được -->

    <div id="app-7">
        <p>Những thứ họ mua:</p>
        <ol>
            <!--
                Ở đây chúng ta cung cấp một object "todo" cho mỗi component
                "todo-item". Bằng cách này nội dung của từng component trở nên động.
                Mỗi component cũng sẽ nhận một thuộc tính "key". Chúng ta sẽ
                nói thêm về thuộc tính này sau.
            -->
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    
</body>
    <script src="./js/introduction.js"></script>
</html>

