<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Render</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <!-- Map một mảng thành các phần tử web với v-for -->
    <!-- Directive v-for để render một danh sách các item dựa trên một mảng -->
    <ul id="example-1">
      <li v-for="item in items">{{ item.name }}</li>
    </ul>

    <!-- Bên trong vòng lặp v-for chúng ta có toàn quyền truy xuất đến các thuộc tính của scope cha -->
    <ul id="example-2">
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.name }}
      </li>
    </ul>

    <!-- Dùng v-for với một object -->
    <!-- Bạn cũng có thể dùng v-for để duyệt qua các thuộc tính của một object -->
    <ul id="v-for-object" class="demo">
      <li v-for="value in object">{{ value }}</li>
      <br />
      <li v-for="(value, key) in object">{{ key }}: {{ value }}</li>
      <br />
      <li v-for="(value, key, index) in object">
        ({{ index }}) {{ key }}: {{ value }}
      </li>
    </ul>

    <!-- Hiển thị kết quả đã được lọc hoặc sắp xếp -->
    <ul id="evenNumbers">
      <!-- Tạo một computed property trả về mảng đã được lọc hoặc sắp xếp -->
      <li v-for="n in evenNumbers">{{ n }}</li>
      <!-- Trong trường hợp không dùng được computed property ta có thể dùng một phương thức -->
      <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>

    <div id="todo-list-example">
      <input
        v-model="newTodoText"
        v-on:keyup.enter="addNewTodo"
        placeholder="Thêm việc cần làm"
      />
      <ul>
        <li
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)"
        ></li>
      </ul>
    </div>
  </body>
  <script src="./js/ListRender.js"></script>
</html>
