<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slots</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
      .content {
        margin: 0 auto;
        width: 500px;
        height: 400px;
        border: 1px solid #333;
      }

      h3 {
        margin: 20px 20px;
        text-align: center;
      }

      img {
        width: 70px;
        height: 70px;
        margin: 5px auto;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <comp-body :title="title">
        <h1>SLOT NAME FOOTER</h1>
        <template v-slot:abc>
          <div>
            <img src="https://picsum.photos/200" alt="Lorem ipsum dolor" />
            <h5>{{ title }}</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ab.
            Amet obcaecati quidem omnis optio eos repellendus aspernatur,
            impedit possimus nam a eum voluptatibus modi facilis ratione qui
            vitae provident!
          </div>
        </template>
      </comp-body>
    </div>
  </body>
  <script src="./js/Slots.js"></script>
</html>
